input[type="text"], textarea, select {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

select {
    background-color: #f3f3f3;
}

textarea {
    resize: none;
}

label {
    padding-right: 20px;
}

.orange-button {
    background-color: #e59e18;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font: 20px eirikRaude;
}

.grey-button {
    background-color: #ccc;
    border: none;
    color: white !important;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font: 20px eirikRaude;
}

.grey-button:hover {
    background: #e59e18;
}

.embedded-form {
    text-align: center;
    /*background: #ddd;*/
    border-radius: 2px;
    margin-bottom: 20px;
}

.embedded-form.photos {
    text-align: left;
}

.embedded-form li {
    list-style-type: none;
    padding-bottom: 20px;
}

.embedded-form.vaccinations li, .embedded-form.videos li {
    line-height: 100px;
}

.embedded-form.vaccinations li:after, .embedded-form.videos li:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.embedded-form.vaccinations li > div,  .embedded-form.videos li > div{
    display: inline-block;
    padding-right: 20px;
    float: left;
}

.embedded-form li > div {
    padding-bottom: 20px;
}

.embedded-form textarea, .embedded-form select, .embedded-form input[type="text"]  {
    width: 500px;
}

.embedded-form .add-button-container {
    text-align: center;
    padding: 20px 0;
}

.embedded-form .add-new-element {
    background-color: #e59e18;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font: 20px eirikRaude;
}

.embedded-form.photos li {
    display: inline-block;
}

.embedded-form label:not(.fileContainer) {
    display: none;
}

.vich-image img {
    max-height: 300px;
    max-width: 300px;
}
.vich-image {
    display: inline-block;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    background: #ccc;
    color: #fff;
    float: left;
    border: none;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font: 20px eirikRaude;
}

.fileContainer:hover {
    background: #e59e18;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
