/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;
    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 118px;
    width: 30px;
    height: 40px;
    text-align: center;
    color: #e59e18;
    text-decoration: none;
    font: 50px Verdana;
}
.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}
.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    width: 600px;
    height: 285px;

}
.jcarousel-wrapper img {
    width: 600px;
    max-height: 285px;
    object-fit: contain; /* Fit logo in the image size */
    -o-object-fit: contain; /* Fit logo fro opera browser */
    object-position: top; /* Set logo position */
    -o-object-position: top;
}


