* 
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: eirikRaude;
    src: url(../fonts/EIRIK_RAUDE.ttf);
}

body
{
    background-color: #f8f8f8;
    color: #323232;
    font: 14px Verdana;
}

a {
    color : #323232;
    text-decoration: none;
    cursor: pointer;
}

.decorated-href:hover {
    color: #e59e18;
    border-bottom: 2px #e59e18 dashed;
} 

h3 {
    text-align: center;
    font: 30px eirikRaude;
    padding: 20px 0;

}

.button-container {
    text-align: right;
    margin: 20px 0px;
    height: 40px;
    padding-right: 30px;
}

.button-container.left {
    text-align: left;
}
.dogs-about-container .button-container{
    text-align: left;
}

.button-container > * {
    display: inline-block;
    margin-right: 10px;
}

.row .button-container {
    padding-right: 0;
}
.container {
    width: 1300px;
    margin: auto;
}

.popup-form {
    visibility: hidden;
}

.row:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.col-2 {
    display: inline-block;
    width: 16%;
    float: left;
}

.col-3 {
    display: inline-block;
    width: 25%;
    float: left;
}

.col-4 {
    display: inline-block;
    width: 33%;
    float: left;
}

.col-6 {
    display: inline-block;
    width: 50%;
    float: left;
}

.col-8 {
    display: inline-block;
    width: 66%;
    float: left;
}
.parent-width {
    width: 100%;
}

.hidden {
    display: none;
}
.header {
    background-image: url(../img/top.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 142px;
}
.header-top {
    vertical-align: middle;
    padding: 20px 15px;
}

.header-top .logo {
    width: 15%;
    float: left;
    height: 77px;
    display: inline-block;
}

.header-top .menu-item {
    height: 77px;
    display: inline-block;
    margin: 0 15px;
    line-height: 77px;
}
.menu-item .locale-switcher img{
    width: 10px;
}
.header-bottom {
    margin: 0 0 0 40%;
}

.header-bottom .header-bottom-phonenumber {
    display: inline-block;
    width: 30%;
    font: 18px eirikRaude;
}

.header-bottom .header-bottom-phonenumber img {
    width: 20px;
    float: left;
}

.footer {
    padding: 30px 0;
    background-color: #eeeeec;
}

.footer .footer-contacts,
.footer .footer-logo
{
    width: 30%;
    text-align: center;
    margin: 30px auto;
}

.footer hr {
    color: #323232;
    background-color: #323232; /* too dark*/
    width: 30%;
    margin: auto;
    height: 1px;
}

.footer-contacts-phone {
    font-weight: bold;
}

.home-dogs {
    padding: 30px 0px; 
    font: 18px eirikRaude;
    text-align: center;
}
.home-dogs-left-block-take {
    font-size: 73px;
}

.home-dogs-left-block-for-u {
    font-size: 123px;
    color: #e59e18;
}

.home-dogs-left-block-tailed {
    font-size: 48px;
}

.home-dogs-left-block-zabava {
    font-size: 73px;
    color: #e59e18;
}
.home-dogs-left-block{
    text-align: right;    
    width: 35%;
    display: inline-block;
    margin-top: 0px;
}
.home-dogs-right-block{
    display: inline-block;
    width: 64%;    
}

.home-about-breed {
    background-image: url(../img/main_about_breed_bg.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    color: #fff;
    font: 18px eirikRaude;
    z-index: 1;
    position: relative;
}

.home-about-breed-image {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

.home-about-breed-image img {
    width: 300px;
}

.home-news {
    background: #f1f1ef;
    padding-bottom: 50px;
    font: 18px eirikRaude;
    color: #323232;
}

.home-news-item {
    width: 400px;
    height: 500px;
    overflow: hidden;
    display: inline-block;
    margin-left: 20px;
    background: #fff;
    border-bottom: 5px #e59e18 solid;
    margin-bottom: 15px;
}

.home-news-item  .decorated-href {
    font:  18px eirikRaude;
}

.home-news-item-image {
    height: 200px;
    overflow: hidden;
}

.home-news-item-image img {
    width: 400px;
    z-index: -1;
}

.home-news-item-text {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-top: -10px;
    border-top: 10px solid transparent;
    background-image:
        linear-gradient(white, white),  /*  общий фон блока, всегда идёт первым перекрывая всё что под ним  */
        linear-gradient(to bottom right, transparent 50.5%, white 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, white 50.5%);
    background-repeat: repeat, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0;
    background-size: auto auto, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box;  /*  обрезаем края у общей заливки  */
    background-origin: padding-box, border-box, border-box, border-box, border-box; 
}

.dogs-add-question, .log-in-content, .edit-content{
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-top: -10px;
    border-top: 10px solid transparent;
    background-image:
        linear-gradient(white, white),  /*  общий фон блока, всегда идёт первым перекрывая всё что под ним  */
        linear-gradient(to bottom right, transparent 50.5%, white 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, white 50.5%);
    background-repeat: repeat, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0;
    background-size: auto auto, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box;  /*  обрезаем края у общей заливки  */
    background-origin: padding-box, border-box, border-box, border-box, border-box; 
}

.home-news-item-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px #F3F3F3 solid;
}

.home-news-item-description {
    color: #787878;
    padding-top: 20px;
}

.home-partners {
    padding-bottom: 50px;
    text-align: center;
}

.home-partners img {
    height: 35px;
    width: 80px;
    margin: 0 15px;
}

.reviews-about-nursery .nursery-photo, .reviews-about-nursery .nursery-description {
    display: inline-block;
}

.reviews-about-nursery .nursery-photo {
    width: 60%;
    float: left;
    text-align: center;
}

.reviews-about-nursery .nursery-description {
    width: 25%;
    border: #3f84ba 2px solid;
    padding: 15px;
    font: 20px eirikRaude;
    color: #6C6C6C;
    height: 320px;
}

.reviews-about-nursery .nursery-description p {
    padding-bottom: 10px;
}

.reviews-about-nursery .nursery-description .important-info {
    font:  22px eirikRaude;
    color: #323232;
}

.reviews-about-nursery .nursery-description .very-important-info {
    font: 28px eirikRaude;
    color: #323232;
    padding-top: 10px;
    padding-bottom: 0;
}

.reviews-about-nursery img {
    max-height: 350px;
    object-fit: contain; /* Fit logo in the image size */
    -o-object-fit: contain; /* Fit logo fro opera browser */
    object-position: top; /* Set logo position */
    -o-object-position: top;
}

.reviews-comment-item .date{
    opacity: .5;
    margin:  10px 0px;
    font: 15px eirikRaude;
}
.reviews-comment-item .title {
    margin:  10px 0px;   
}
.reviews-comment-item .text {
    margin:  10px 0px;
}
.reviews-comment-item {
    padding: 30px 30px;
    /*font: 18px eirikRaude;*/
    border-bottom: 1px solid #DCDCDC;
}

.reviews-add-comment .review-form, .reviews-add-comment .review-disclaimer {
    display: inline-block;
    width: 45%;
}

.reviews-add-comment .review-disclaimer {
    padding-top: 28px;
}
.reviews-add-comment .review-disclaimer h4 {
    color: #e59e18;
    font-size: 18px;
    font: bold italic 18px eirikRaude;
    padding-bottom: 20px;
}

.reviews-add-comment .review-disclaimer p {
    font: 18px eirikRaude;
    color: #B5B5B5;
    padding-bottom: 5px;
}

.reviews-add-comment .review-form {
    padding: 20px 30px;
    float: left;
}

.reviews-add-comment input[type="text"], .reviews-add-comment textarea {
    width: 49.5%;
}

.reviews-add-comment textarea {
    width: 100%;
}

.news-page {
    margin-top: 20px;
    overflow: hidden;
    background: #fff;
    border-bottom: 5px #e59e18 solid;
}

.news-page .decorated-href {
    font:  18px eirikRaude;
}

.news-page .image {
    width: 100%;
    height: 500px;
    overflow: hidden;
    text-align: center;
}

.news-page .image img {
    width: 100%;
    z-index: -1;
}

.news-page .text {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin-top: -10px;
    border-top: 10px solid transparent;
    background-image:
        linear-gradient(white, white),  /*  общий фон блока, всегда идёт первым перекрывая всё что под ним  */
        linear-gradient(to bottom right, transparent 50.5%, white 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, white 50.5%);
    background-repeat: repeat, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0;
    background-size: auto auto, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box;  /*  обрезаем края у общей заливки  */
    background-origin: padding-box, border-box, border-box, border-box, border-box; 
}

.news-page .title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px #F3F3F3 solid;
}

.news-page .description {
    color: #787878;
    padding-top: 20px;
}

.photos .photo-item {
    margin: 15px auto;
    width: 31%;
    height: 400px;
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
}

.photos .photo-item img {
    max-height: 100%;
    max-width: 100%;
}

.videos .video-item {
    width: 48%;
    height: 350px;
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
}

.dogs-photo-container .dogs-photo {
    max-height: 100%;
    max-width: 100%;
}
.dogs-photo-container{
    width: 600px;
    height: 400px;
    text-align: center;

}
.dogs-list-item .dogs-photo-container{
    display: inline-block;
    float: left;
}
.dogs-list-item .dogs-about-container{
    height: 400px;
}

.dogs_photos{
    float: left;
    display: inline-block;
    height: 600px;
    width: 600px;
}
.dogs-other-photos-container{
    width:600px;
}
.dogs-other-photos-container .dogs-other-photos{
    margin: 5px;
    max-height: 200px;
}
.dogs-about-container {
    width: 300px;
    height: 520px;
    display: inline-block;
    padding: 40px; 

}
.dogs-show-container .dogs-about-container{
    margin: 30px;
}

.dogs-list-item, .dogs-show-container{
    width: 1100px;
    margin: 30px auto;
    display: block;
}

.sex-img {
    width: 15px;
    height: 15px;
    float: left;
    display: inline-block;
}
.sex-img img{
    max-width: 15px;
    max-height: 15px;

}
.dogs-show-container .sex-img img{
    max-width: 25px;
    max-height: 25px;

}
.dogs-show-container .dog-name{
    font-size: 25px;
}
.dog-name{
    display: inline-block;
}
.dogs-list .button-container{
    margin: 10px 0;
    text-align: left;
}
.dogs-about-container > * { 
    font: 17px eirikRaude;
    padding: 5px 10px; 
}
.dogs-description{
    opacity: 0.5;
}
.dogs-add-question textarea{
    width: 400px;
}
.dogs-add-question input[type="text"], .log-in-content input[type="text"] , .log-in-content input[type="password"]{
    width: 400px;
    display: block;
}
.dogs-add-question{
    text-align: center;

}
.log-in-content .orange-button{
    margin-top: 20px;
    margin-left: 150px;
}

.dogs-edit .dog-info label {
    display: block;
}

.ui-widget-content .ui-state-active {
    background-color: #e59e18;
    border-color: #DCDCDC;
}


.dog-info .vich-image img {
    max-width: 95%;
    max-height: 100%;
}
.litter-item .parents-img{
    width: 200px;
    height: 300px;
    line-height: 300px;
    display: block;
}


.parents-img img{
    width: 200px;
    max-height:300px;
    vertical-align: middle;
    object-fit: contain;


}
.litter-item .parent-container{
    display: inline-block;
    text-align: center;
    margin: 24px;
}
.litter-date{
    text-align: center;
}
.litter-item{
    width:500px;
    display: block;
    border-bottom: 1px #B5B5B5 solid; 

    margin: 10px auto;
}
.partner-container{
    width:800px;
    margin: auto;
    
}
.partner-item{
    margin: 20px 0;
    border-bottom: 1px solid #B5B5B5;
    padding: 30px 0;
}
.partner-container .partner-img{
    width: 350px;
    float:left;
    display: inline-block;
}
.partner-container .partner-info{
    padding: 70px 0;
    width: 350px;
    float:right;
    display: inline-block;
}
.partner-item:after{
    content: '.';
    float: none;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}
.partner-img img{
    max-width: 100%;
    height: 230px;
    object-fit: contain;
}
.litter-item .orange-button{
    margin: 20px auto;
}

.litter-item-child-list{
    width: 500px;

}
.litter-item-child-list .child-list-item{
    text-align: center;
    height: 35px;
    margin: 20px 5px; 
    padding: 0 20px;
}
.child-list-item .child-sex{
    width: 30px;
    height: 30px;
    float:left;
}
.child-sex img{
    max-height: 30px;
    width: 30px;
}
.child-list-item .child-state{
    width: 30px;
    height: 30px;
    float:right;
}
.child-list-item .child-sex, .child-list-item .child-state, .child-list-item .child-name{
    display: inline-block;
}
.child-list-item .child-name{
    line-height: 35px;
}
.services-img{
    float: left;

}
.services-img, .service-list{
    display: inline-block;
}
.service-container:after{
    content: '.';
    float: none;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;    
}
.service-about .service-price{
    font-size: 15px;
    font-weight: bold;
}
.service-about .service-price, .service-about .service-description {
    margin: 20px 0;
}  
.service-name{
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
}
.service-about{
    margin-left: 10px; 
}
.services-img{
    width: 500px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.service-list{
    width: 500px;
    margin: 50px;
}
.service-list-item{
    margin: 20px 0;
}
.service-about .orange-button{
    margin: 20px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 15px;
    z-index: 1;
    line-height: 40px;
}
.dropdownbtn:hover .dropdown-content{
    display: block;

}
.dropdown-content .dropdown-item{
    width:100px; 
}
.dropdownbtn{
    cursor: pointer;
}
.locale-switcher{
    display: inline-block;
    float: right;
    width: 40px;
}
.locale-switcher img {
    max-width: 30px;

}

.ask-question, .log-in-head, .edit-head{
    line-height: 150px;
    height: 150px;
    z-index: -1;
    background-color: #e59e18;
}
.ask-question h3, .log-in-head h3, .edit-head h3{
    padding: 75px 0;
    text-align: center;
    font: 30px eirikRaude;
    color: white;
}
a.orange-button{
    text-align: center;
    display: block;
    width: 115px;
}
a.grey-button{
    width: 115px;
    text-align: center;
    display: block;
}
input[type="submit"] {
    width: 179px;
}
.button-container .orange-button{
    float: right;
}
.services-info .col-6{
    width: 100%;
    text-align: center;
}

.services-info .right-col, .services-info .left-col{
    display: inline-block;
    width: 40%;
    margin: 5px;
}
.vaccination-item .right-col, .vaccination-item .left-col,
.title-item .right-col, .title-item .left-col
{
    display: inline-block;
    width: 40%;
    margin: 5px;
}
.vaccination-item, .title-item {
    width: 500px; 
    border: 1px #B5B5B5 solid;
    margin: 10px 73px;
    display: inline-block;
    height: 110px;
    line-height: 50px;
}
.services-info .left-col, .vaccination-item .left-col, .title-item .left-col{
    float: left;
}
.vaccination-item:after, .title-item:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.services-info .right-col, .vaccination-item .right-col, .title-item .right-col{
    float: right;
}
.services-info .service-price{
    width: 80px;
    margin: auto;
}
.comment-item .user-name, .comment-item .comment-date,
.comment-item .user-email, .comment-item .user-question,
.comment-item .user-phone, .comment-item .comment-theme{
    margin: 10px;
}
.comment-item{
    border-bottom: 1px #B5B5B5 solid;
    margin: 40px 10px;
    width: 500px;

}
.comments{
    width: 500px;
    margin: auto;
}

.comment-item .user-name, .comment-item .comment-theme{
    font-weight: bold;
    margin: 15px 10px;
}
.comment-item .comment-edit, .comment-item .comment-delete{
    margin: 20px 10px;

}
.comment-edit .orange-button, .comment-delete .orange-button{
    color: white;
}
