{% extends 'base.html.twig' %}

{% block body %}
<table>
        <tbody>
        {% for dog in dogsPhotos %}
                 <td> <img src="{{photo_path}}{{dog.photo}}" alt="dog" style="width:304px;height:228px;"> </td>
        {% endfor %}
        </tbody>
    </table>
<table>
        <tbody>
{% for video in videos %}
   <td><iframe width="560" height="315" src="{{video.video}}" frameborder="0" allowfullscreen></iframe></td> 
{% endfor %}
        </tbody>
</table>
{% endblock %}
